@import url('https://fonts.googleapis.com/css?family=Bad Script');
@import url('https://fonts.googleapis.com/css?family=Caesar Dressing');
@import url('https://fonts.googleapis.com/css?family=Courgette');

ul#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    transform: translateY(80px);
    position: fixed; 
    overflow: auto; 
}

ul#list li a {
    display: block;
    color: #000;
    padding: 40px 29px;
    text-decoration: none;
}

ul#list li a:hover {
    opacity: 0.98;
    background-color: #b4ecdb;
    color: black;
}
@keyframes ex {
    from { transform: translate(-100px, 0);}
    to {     transform: translate(0, 0);}
}

div#main {
margin-left:25%;
padding:1px 16px;
height:1000px;
animation-name: ex;
animation-duration: 4s;
}

div#main2 {
margin-left:25%;
padding:1px 16px;
height:1000px;
animation-name: ex;
animation-duration: 4s;
font-size: 20px;
}
.back
{
    background-image: url("bg1.jpg"); 
     background-repeat: no-repeat;
             background-size: cover;
}
.back2
{
    background-image: url("bg2.jpg"); 
     background-repeat: no-repeat;
             background-size: cover;
}
.back0
{
    background-image: url("bg.jpg"); 
     background-repeat: no-repeat;
             background-size: cover;
}
.back3
{
        background-image: url("bgf.jpg"); 
         background-repeat: no-repeat;
             background-size: cover;

}
.back4
{
            background-image: url("bgff.jpg"); 
             background-repeat: no-repeat;
             background-size: cover;

}
.Games
{
transform: translateY(-70px);
}
.image
{
float:right;
 border-radius: 10px;
}
.prog1
{
    padding-right: 30px;
    padding-bottom: 20px;
        border-radius: 8px;

}
.back
{
background-color: #ffe4e1;
}
ul#hobbies
{
    font-family: sans-serif;
    font-style: italic;
}
.anim
{
    border-radius: 8px;
}
.container{ 
   position: sticky; 
}
@keyframes ex1 {
    from { opacity: 0.5;}
    to {   opacity: 0.99;}
}
h2#me { 
    font-size: 16px;
    font-style: italic;
    background: black;
    color: white;
   position: absolute; 
   animation-name: ex;
   animation-duration: 2s;
   top: 10px; 
   left: 0; 
   width: 40%; 
}
table#t th {
    background-color: maroon;
    color: white;
}
table#t tr:nth-child(odd)
{
        background-color: #03004d;
        color: white;
        animation-name: ex1;
        animation-duration: 3s;

}
table#t tr:nth-child(even)
{
        background-color: #eee;
        
  animation-name: ex1;
        animation-duration: 3;
}
table#t tr:hover 
{

    background-color: #49e76c; 
}
.q
{
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.q:hover
{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.75;
}
.r 
{
transform: translateY(15px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.r:hover
{
     -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.25);
    opacity: 0.75;
}
.contain
{
    position: relative;
    margin-left: 200px;
align-self: center;
    width: 400px;
    height: 300px;

}
.hover1 {
  position: absolute;
  align-self: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c8c8c8;
  opacity: 0.95;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: .5s ease;
}
.contain:hover .hover1
{
      width: 100%;

}
.txt {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#wrapper {
    margin-left:0;
    margin-right:auto;
    width:960px;
}
